.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;


  &__list-paragraph {
    max-height: 180px;
    padding: 20px 0 20px 25px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: #777777;
  }

  &__services-list {
    list-style: none;
    margin: 0;
    padding: 20px 0 20px 40px;
    text-align: left;
    background-color: #777777;

    & a {
      text-decoration: none;
      color: #fff;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__services-item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 5px;
      left: -15px;
      height: 8px;
      width: 8px;
      background-color: #fff;
    }
  }
  
  &__wrap-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
  }

   &__info {
     background-color: #777777;
   }
}