.order-list {
  background-color: #dcdcdc;
  padding: 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;

  &__center {
    margin-bottom: 20px;
  }

  &__title {
    margin: 0 0 35px 0;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
  }

  &__orders {
    margin: 0 0 40px 0;
    padding-left: 50px;
    text-align: left;
  }

  &__items_accent {
    font-weight: bold;
  }

  &__post {
    margin: 0;
    text-align: left;
  }
}